.section {
    margin-top: 20px;
    background-color:#252525;
    border-left:8px solid #6BA1B8;
    padding:15px;
    border-radius: 5px;
}

.title-position {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-primary)
}

.date-position {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-secondary)
}

p {
    font-size: 16px;
    width:90%;
    text-align: justify;
    font-weight: 400;
    color: var(--text-secondary)
}


