.social {
    align-items: center;
    display: flex;
    gap:35px;
    width:300px;
    
    a {
        height: 50px;
        width: 50px;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}