.container-page-projects {
    width:80vw;
    height:100vh;


.title-page {
    padding-top: 35px;
    font-size: 37px;
    font-weight: 600;
    color: var(--text-primary);
}

}

.page-projects {
    height:75%;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 10px;
      }
    
      
      &::-webkit-scrollbar-track {
        background: #fff;
        
      }
    
     
      &::-webkit-scrollbar-thumb {
        background: #1E1E1E;
      }
    
    
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      @media (min-width: 100px) and (max-width: 525px) {
        flex-direction: column;
        margin-top: 580px;
  
      }

      @media (min-width: 526px) and (max-width: 649px) {
        flex-direction: column;
        margin-top: 450px;
      }

      @media (min-width: 650px) and (max-width: 850px) {
        flex-direction: column;
        margin-top: 290px;
      }

      
      @media (min-width: 1350px) and (max-width: 1380px) {
        flex-direction: column;
        margin-top: 220px;
      }

      @media (min-width: 1400px) and (max-width: 1500px) {
        flex-direction: column;
        margin-top: 100px;
      }
  
}

