.home-container {
   // padding: 40px 32px;
   padding-top:55px;
    display: grid;
    gap: 24px;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "start";

    .btn-button {
      width:170px;
      display: flex;
      justify-content: space-between;
      padding-left:8px;
      background:transparent;
      border:1px solid #2C2C2C;
      border-radius:10px;
    }

    .scroll-indicator {
        cursor: pointer;
        font-size: 35px;
        color: #333;
        position: fixed; 
        bottom: 20px;
        left: 50%; 
        transform: translateX(-50%); 
    
        &:hover {
          color: #fff;
        }
      }

      .footer-gradient {
        height:20px;
        width:100%;
        background: linear-gradient(90deg, rgba(38,46,255,1) 0%, rgba(124,145,188,1) 46%, rgba(212,244,119,1) 100%);
      }

      @media (min-width: 200px) and (max-width:690px) {
        gap: 600px;
    }

    @media (min-width: 700px) and (max-width: 950px) {
      gap: 200px;
  }

}