.home-container {
   // padding: 40px 32px;
   padding-top:55px;
    display: grid;
    gap: 24px;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "start";

    .btn-button {
      width:170px;
      display: flex;
      justify-content: space-between;
      padding-left:8px;
      background:transparent;
      border:1px solid #2C2C2C;
      border-radius:10px;
    }

    .scroll-indicator {
        cursor: pointer;
        font-size: 35px;
        color: #333;
        position: fixed; 
        bottom: 20px;
        left: 50%; 
        transform: translateX(-50%);
  
    
        &:hover {
          color: #fff;
        }
      }


      .scroll-top {
        transform: rotate(180deg);
        cursor: pointer;
        font-size: 35px;
        color: #333;
        bottom: 20px;
        display: flex;
        left: 50%;
        
    
        &:hover {
          color: #fff;
        }
      }

  

   // @media (min-width:100px) and (max-width:800px){
  //    gap: 820px;
 
 // }

 @media (min-width:100px) and (max-width:800px){
  gap: 320px;

}

    @media (min-width:801px) and (max-width:1366px){
      gap: 300px;
    
  }
 

}